# ---------- 选择烧录器 ----------
# source [find interface/stlink.cfg] 
source [find interface/cmsis-dap.cfg]
transport select swd
adapter speed 1000

# ---------- 选择芯片型号 ----------
source [find target/stm32f1x.cfg]
# source [find target/stm32H7x.cfg]
